@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff?cevfp8') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e900";
  color: #fff;
}
.icon-checkMark:before {
  content: "\e901";
  color: #fff;
}
.icon-pc:before {
  content: "\e902";
  color: #fff;
}
.icon-pencil:before {
  content: "\e903";
  color: #fff;
}
