@import "media";
$fx: flex;
@mixin h_w($height, $width) {
  height: $height;
  width: $width;
}
@mixin fnt_sz-clr($font_size, $color) {
  font-size: $font-size;
  color: $color;
}
@mixin slider-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@mixin colorfulCycle {
  @include h_w(186px, 186px);
  border-radius: 50%;
  display: $fx;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-bottom: 17px;
}
@mixin mainflex {
  display: $fx;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
body {
  font: 15px/36px "Conv_segoeui", sans-serif;
  color: #9f9f9f;
  display: $fx;
  flex-direction: column;
}

/*HEADER-NAVIGATION*/

header {
  @include h_w(89px, 970px);
  align-self: center;
  display: $fx;
  justify-content: space-between;
  align-items: center;
  @include media("<1050px") {
    width: 100%;
    padding: 0px 30px 0 30px;
  }
  @include media("<950px") {
    position: absolute;
    padding-left: 30px;
    width: 0;
    height: 0;
    display: block;
    align-self: flex-start;
  }
  @include media("<450px") {
    padding-left: 8px;
  }
}
.logo {
  display: $fx;
  justify-content: space-between;
  align-items: center;
  @include h_w(44px, 180px);
  @include media("<950px") {
    width: 208px;
    margin-top: 23px;
  }
  @include media("<450px") {
    width: 132px;
    margin-top: 13px;
  }
  & .ico-logo {
    background: #5094f2;
    @include h_w(44px, 44px);
    border-radius: 50%;
    @include media("<950px") {
      @include h_w(52px, 52px);
      margin-top: 4px;
    }
    @include media("<450px") {
      @include h_w(40px, 40px);
    }
  }
  & p {
    font-family: "Source Sans Pro", sans-serif;
    @include fnt_sz-clr(64.35px, #ffffff);
    padding-top: calc(50% - 5px);
    padding-left: calc(50% - 13px);
    @include media("<950px") {
      font-size: 75.12px;
      padding-top: calc(50% - 1px);
      padding-left: calc(50% - 16px);
    }
    @include media("<450px") {
      font-size: 62.12px;
      padding-top: calc(50% - 6px);
      padding-left: calc(50% - 13px);
    }
  }

  & h1 {
    font-family: "Conv_segoeuil", sans-serif;
    @include fnt_sz-clr(42.35px, #000000);
    @include media("<950px") {
      font-size: 49.44px;
    }
    @include media("<450px") {
      font-size: 30.44px;
    }
  }
}
.slicknav_menu {
  display: none;
  @include media("<950px") {
    display: block;
    align-self: flex-end;
  }
}
nav {
  @include h_w(40px, 403px);
  margin-bottom: -35px;
  margin-right: 7px;
  @include media("<950px") {
    display: none;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    & li {
      & a {
        text-decoration: none;
        @include fnt_sz-clr(20.35px, #6c6c6c);
        border-bottom: 3px solid transparent;
        padding: 0 4px 13px 4px;
      }
      & a:hover,
      .active {
        border-bottom: 3px solid #5094f2;
      }
    }
  }
}
.ico {
  background: black;
  & .icon-basket {
    content: "\e900";
    @include fnt_sz-clr(40px, #fff);
  }
}

/*MAIN*/
.main {
  padding-bottom: 45px;
  border-bottom: 1px solid #e5e5e5;
  @include media("<950px") {
    padding-bottom: 95px;
  }
  @include media("<641px") {
    padding-bottom: 9px;
  }
}
.slider-images .item {
  height: 490px;
  @include media("<950px") {
    height: 247px;
  }
  & .content {
    width: 855px;
    margin: auto;
    @include media("<1235px") {
      width: 760px;
    }
    @include media("<1050px") {
      width: 660px;
    }
    & img {
      margin-left: -20px;
      margin-top: 37px;
      @include media("<1050px") {
        @include h_w(350px, 289px);
        margin-top: 90px;
        margin-left: 28px;
      }
      @include media("<950px") {
        @include h_w(216px, 172px);
        margin-top: 22px;
        margin-left: 52px;
      }
      @include media("<641px") {
        margin-left: 39px;
      }
      @include media("<600px") {
        margin-left: 51px;
      }
      @include media("<560px") {
        display: none;
      }
    }
    & .blockOfSign {
      @include h_w(207px, 398px);
      top: 144px;
      margin-left: 429px;
      position: absolute;
      @include media("<1050px") {
        width: 286px;
        margin-left: 390px;
      }
      @include media("<950px") {
        top: 16px;
        margin-left: 290px;
      }
      @include media("<641px") {
        margin-left: 279px;
      }
      @include media("<600px") {
        margin-left: 240px;
      }
      @include media("<560px") {
        left: calc(50% - 373px);
      }
      @include media("<450px") {
        width: 231px;
        left: calc(50% - 359px);
      }
    }
    & .icon-checkMark {
      content: "\e901";
      padding-right: 10px;
      position: absolute;
      margin-top: 7px;
      left: 23px;
      @include media("<950px") {
        margin-top: 9px;
        left: 15px;
      }
    }
    & h2 {
      font-family: "Conv_segoeuil";
      @include fnt_sz-clr(42.35px, #ffffff);
      margin-top: 7px;
      left: 23px;
      margin-bottom: 9px;
      @include media("<1235px") {
        font-size: 30.98px;
      }
      @include media("<950px") {
        margin-bottom: 1px;
      }
      @include media("<450px") {
        font-size: 24.98px;
      }
    }
    & p {
      font: 26.35px/45px "Conv_segoeuil", sans-serif;
      color: #f4f5f6;
      padding-bottom: 31px;
      @include media("<1235px") {
        font-size: 22.71px;
      }
      @include media("<950px") {
        line-height: 37px;
      }
      @include media("<450px") {
        line-height: 33px;
        font-size: 17.71px;
      }
    }
    & a {
      font: 22.35px "Conv_segoeuil", sans-serif;
      color: #e8f1fd;
      background: #5094f2;
      padding: 2px 13px 9px 42px;
      border-radius: 2px;
      text-decoration: none;
      margin-left: 13px;
      outline: none;
      @include media("<950px") {
        font-size: 31.08px;
        padding: 2px 13px 9px 61px;
        margin-left: 0;
      }
      @include media("<450px") {
        font-size: 24.08px;
      }
      &:hover {
        background: #326ec1;
      }
    }
  }
}
.slider-images .first-slide {
  background-image: url("../img/slider-imageFirst.jpg");
  @include slider-bg;
}
.slider-images .second-slide {
  background-image: url("../img/slider-imageSecond.jpg");
  @include slider-bg;
  & .blockOfSign {
    & h2,
    p {
      color: #ef1a1c;
    }
    & a {
      background: #ff8c8d;
      &:hover {
        background: #f70406;
      }
    }
  }
}
.slider-images .third-slide {
  background-image: url("../img/slider-imageThird.jpg");
  @include slider-bg;
  & .blockOfSign {
    & h2,
    p {
      color: #5b5b5b;
    }
    & a {
      background: #595252;
      &:hover {
        background: #302929;
      }
    }
  }
}

.slider-arrows {
  position: absolute;
  top: 234px;
  cursor: pointer;
  z-index: 1;
  @include media("<950px") {
    display: none !important;
    top: 0;
  }
  &_left {
    left: 93px;
    @include media("<1235px") {
      left: 70px;
    }
  }
  &_right {
    right: 93px;
    @include media("<1235px") {
      right: 70px;
    }
  }
}
.smallTeethBottom {
  content: "";
  background: url("../img/smallTeethBottom.png") repeat-x;
  position: absolute;
  @include h_w(22px, 100%);
  margin-top: -17px;
  @include media("<950px") {
    display: none;
  }
}
.main-content {
  width: 976px;
  margin: auto;
  margin-top: 57px;
  @include media("<1050px") {
    width: 100%;
  }
}
.contradictions {
  display: $fx;
  justify-content: space-between;
  margin-bottom: 85px;
  @include media("<1050px") {
    flex-direction: column;
  }
  @include media("<950px") {
    margin-bottom: -15px;
  }
  @include media("<641px") {
    margin-bottom: 18px;
  }
  @include media("<450px") {
    margin-bottom: 0;
  }
  & .column {
    text-align: center;
    flex-direction: column;
    @include mainflex;
    @include media("<1050px") {
      margin-bottom: 30px;
      flex-direction: row;
      text-align: start;
      border-bottom: 1px solid#cccccc;
    }
    @include media("<641px") {
      padding-bottom: 1px;
    }
    & h3 {
      & a {
        text-decoration: none;
        color: #5094f2;
        font-size: 20.35px;
        @include media("<1050px") {
          position: absolute;
          margin-top: -69px;
          margin-left: 39px;
          font-size: 34.13px;
        }
        @include media("<641px") {
          margin-top: -65px;
          margin-left: 23px;
        }
        @include media("<560px") {
          font-size: 26.13px;
        }
        @include media("<450px") {
          font-size: 19.13px;
          margin-top: -58px;
          margin-left: 10px;
        }
      }
    }
    & p {
      line-height: 17px;
      @include media("<1050px") {
        margin-left: 40px;
        font-size: 19.35px;
        line-height: 27px;
      }
      @include media("<641px") {
        margin-left: 25px;
        line-height: 23px;
        margin-top: 8px;
      }
      @include media("<560px") {
        font-size: 13.35px;
      }
      @include media("<450px") {
        font-size: 10.35px;
        margin-top: -12px;
        line-height: 16px;
        margin-left: 12px;
      }
    }
    & .pencilOnBg {
      background: #5094f2;
      font-size: 106px;
      @include colorfulCycle;
      @include media("<641px") {
        @include h_w(135px, 135px);
        margin-left: -35px;
        margin-top: -17px;
        font-size: 78px;
      }
      @include media("<560px") {
        @include h_w(100px, 100px);
        font-size: 62px;
      }
      @include media("<450px") {
        font-size: 46px;
        @include h_w(76px, 76px);
        margin-left: 0;
      }
    }
    & .pÑOnBg {
      background: #d94748;
      font-size: 83px;
      @include colorfulCycle;
      @include media("<641px") {
        @include h_w(135px, 135px);
        margin-left: -35px;
        margin-top: 4px;
        font-size: 61px;
      }
      @include media("<560px") {
        @include h_w(100px, 100px);
        font-size: 49px;
      }
      @include media("<450px") {
        font-size: 42px;
        @include h_w(76px, 76px);
        margin-left: 0;
      }
    }
    & .basketOnBg {
      font-size: 86px;
      background: #ebbb11;
      @include colorfulCycle;
      @include media("<641px") {
        @include h_w(146px, 146px);
        margin-left: -40px;
        margin-top: -5px;
        font-size: 72px;
      }
      @include media("<560px") {
        @include h_w(100px, 100px);
        font-size: 57px;
      }
      @include media("<450px") {
        font-size: 48px;
        @include h_w(76px, 76px);
        margin-left: -18px;
      }
    }
  }
  & .pc {
    @include media("<641px") {
      & h3 {
        margin-top: 16px;
      }
      & p {
        margin-top: 23px;
      }
    }
  }
  & .basket {
    @include media("<641px") {
      & h3 {
        margin-top: 4px;
      }
      & p {
        margin-top: 13px;
      }
    }
    @include media("<600px") {
      padding-left: 18px;
    }
  }
}
.inf-purchases {
  display: $fx;
  justify-content: space-between;
  @include media("<1050px") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .shop-cart {
    @include h_w(365px, 360px);
    @include mainflex;
    flex-direction: column;
    margin-left: 22px;
    @include media("<641px") {
      height: 236px;
      margin-left: 6px;
      margin-bottom: 20px;
    }
    @include media("<450px") {
      @include h_w(217px, 230px);
    }
    & h4 {
      @include fnt_sz-clr(42.35px, #6f7173);
      margin-bottom: 43px;
    @include media('<560px') {
      font-size: 38.35px;
    }
    @include media('<450px') {
      font-size: 26.35px;
      margin-bottom: 33px;
    }
  }
    & img {
      @include media('<950px') {
        @include h_w(161px, 213px);
      }
      @include media('<560px') {
        @include h_w(154px, 206px);
      }
      @include media("<450px") {
        @include h_w(134px, 186px);
      }
    }
  }
  & .information {
    @include h_w(290px, 452px);
    margin-right: 48px;
    margin-top: 53px;
    @include media("<641px") {
      @include h_w(392px, 371px);
      margin-right: 21px;
      margin-top: 0;
    }
    @include media("<450px") {
      @include h_w(264px, 241px);
    }
    & h5 {
      @include fnt_sz-clr(26.35px, #6f7173);
      margin-bottom: 15px;
      @include media("<950px") {
        font-size: 42.35px;
      }
      @include media("<641px") {
        font-size: 34.35px;
        margin-bottom: 18px;
      }
      @include media("<560px") {
        font-size: 31.35px;
      }
      @include media("<450px") {
        font-size: 22.35px;
        margin-bottom: 7px;
      }
    }
    & p {
      font-family: "Conv_segoeuil", sans-serif;
      @include fnt_sz-clr(15.35px, #6f7173);
      line-height: 36px;
      @include media("<950px") {
        font-size: 17.35px;
        line-height: 36px;
      }
      @include media("<560px") {
        font-size: 15.35px;
        line-height: 32px;
      }
      @include media("<450px") {
        font-size: 12.35px;
        line-height: 21px;
      }
    }
  }
}

/*FOOTER*/

footer {
  height: 93px;
  @include mainflex;
  text-align: center;
  @include media("<560px") {
    height: 70px;
  }
  @include media("<450px") {
    height: 30px;
  }
  & p {
    font-family: "Conv_segoeuil", sans-serif;
    @include fnt_sz-clr(15.35px, #a6a6a6);
    margin-top: -14px;
    @include media("<560px") {
      font-size: 12.35px;
    }
    @include media("<450px") {
      font-size: 6.35px;
      margin-top: 0;
    }
  }
}
